<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <virtualType name="EComprocessing\Genesis\Model\ConfigProvider" type="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="ecomprocessing_direct" xsi:type="const">EComprocessing\Genesis\Model\Method\Direct::CODE</item>
                <item name="ecomprocessing_checkout" xsi:type="const">EComprocessing\Genesis\Model\Method\Checkout::CODE</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="ecomprocessing_direct_config_provider" xsi:type="object">EComprocessing\Genesis\Model\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Request\CsrfValidator">
        <plugin name="csrf_validator_skip" type="EComprocessing\Genesis\Plugin\CsrfValidatorSkip" />
    </type>
</config>
